body{
    background-color: rgb(51, 50, 50);
}
/* Box Perfil */
.box-perfil{
    padding-top: 220px;
    background-color: black;
    padding-left: 10%;
}

.box-perfil h1, p{
    text-align: left;
    text-transform: uppercase;
    color: #fff;

    
}

.box-perfil h1{
    font-size: 48px;
    font-weight: bold;
}

.box-perfil p{
    font-size: 24px;
}

.box-perfil button{
    text-transform: uppercase;
}

/* Perfil */

.perfil{
    background-image: url(img/perfil.jpg);
    width: 100%;
    height: 640px;
}

.perfil .nav-item a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.perfil .nav-item i{
    padding-top: 13px;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

/* About */

.about-image{
    background-image: url(img/sharon.jpg);
    background-repeat: no-repeat;
    background-size: 570px 600px;
    
}

.about{
    background-color: black;
    height: 500px;
    padding-top: 110px;
    padding-left: 50px;
}

.about h2{
    color: #fff;
    text-transform: uppercase;
}

.about p{
    font-size: 18px;
    padding-top: 45px;
    text-transform: none;

}

.about h3{
    font-style: italic;
    color: #fff;
}

/* See my Work */

.work{
    background-color: black;
    height: 400px;
    padding-top: 90px;
    padding-left: 50px;
}

.work h2{
    color: #fff;
    text-transform: uppercase;
}

.work p{
    font-size: 18px;
    padding-top: 45px;
    text-transform: none;

}

.work-image{
    background-image: url(img/work.jpg);
    background-repeat: no-repeat;
}

/* CLient Saying */

.client{
    background-color: black;
    height: 400px;
    padding-top: 90px;
    padding-left: 50px;
}

.client h2, p, h3{
    text-align: center;
}

.client h2, h3{
    color: #fff;
    padding-bottom: 20px;
}

.client p{
    text-transform: none;
    font-style: italic;
}

.client h3{
    font-style: italic;
    font-size: 18px;

}

.client-image{
    background-image: url(img/client.jpg);
    background-repeat: no-repeat;
}

/* Contact */


.contact{
    background-color: black;
    height: 650px;
    padding-top: 90px;
    padding-left: 50px;
}

.contact h2, label{
    color: #fff;
}

.contact-image{
    background-image: url(img/contact.jpg);
    background-repeat: no-repeat;
}